<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="first" connectionString="Data Source=DESKTOP-H4U4B36;Initial Catalog=pubs;Integrated Security=True"/>
    <add name ="second" connectionString="Data Source=DESKTOP-H4U4B36;Initial Catalog=AdventureWorks2017;Integrated Security=True"/>
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>