<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseDeployScript" value="deploy-database.cmd"/>
  </appSettings>
  <connectionStrings>
    <clear />
    <!--Copied from TestDatabase.publish.xml-->
    <add  name="testDatabaseConnStr" 
          providerName="System.Data.SqlClient"
          connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=unittest;Integrated Security=True"/>
  </connectionStrings>
</configuration>